<div class="Main-Block">
  <div class="container">
      <div class="block embed-responsive embed-responsive-21by9">
        <img class="embed-responsive-item" src="app/images/placeholder.jpg" alt="placeholder" />
        <div class="banner">
          <p>Test testing</p>
        </div>
      </div> <!-- BLOCK ENDS HERE -->
      <br>
      <div class="block embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="app/images/placeholder.jpg" alt="placeholder" />
      </div> <!-- BLOCK ENDS HERE -->
      <br>
      <div class="block embed-responsive embed-responsive-4by3">
        <img class="embed-responsive-item" src="app/images/placeholder.jpg" alt="placeholder" />
      </div> <!-- BLOCK ENDS HERE -->
      <br>
      <div class="block embed-responsive embed-responsive-1by1">
        <img class="embed-responsive-item" src="app/images/placeholder.jpg" alt="placeholder" />
      </div> <!-- BLOCK ENDS HERE -->

  </div> <!-- CONTAINER ENDS HERE -->
</div>
